.App__content {
    width: 55%;
    margin: 24px auto;

}


@media screen and (max-width: 600px){
    .App__content {
        width: 100%;
    }
}

@media screen and (max-width: 960px){
    .App__content {
        width: 80%;
    }
}